{% extends "base.html" %}

{% block title %}{{ element.libelle }}{% endblock %}

{% block content %}
        <h1>{{ element.libelle }}</h1>
        <p>Numéro : {{ element.numero }}</p>
        <p>Catégorie : {{ element.categorie.icone }} {{ element.categorie.libelle }}</p>
        <p>Commune : {{ element.commune }}</p>
        <p>Coordonnées : {{ element.latitude }}, {{ element.longitude }}</p>
        <p>{{ element.description }}</p>
        {% if element.histoire %}<p>{{ element.histoire }}</p>{% endif %}
        <h2>Photographies</h2>
        {% for photographie in element.photographies.all %}
            <figure>
                <img src="{{ photographie.fichier.url }}" alt="{{ element.libelle }}">
            </figure>
        {% endfor %}
{% endblock %}